.home {
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  min-height: 100vh;
}

.home * {
  max-width: 1000px;
}

.home > header {
  background-color: black;
  color: white;
  width: 100%;
  min-height: 150px;
  top: 0;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.home > header * {
  margin: 10px 0;
  width: 100%;
}

.home > header h3 {
  align-self: flex-start;
  color: transparent;
  font-weight: 600;
  font-size: 20px;
  color: transparent;
  text-transform: capitalize;
  background-image: linear-gradient(40deg, aqua, #be90ec, #ff3299);
  background-clip: text;
  animation: gradient 1s 1s infinite alternate;
}

@keyframes gradient {
  50% {
    background-image: linear-gradient(40deg, #be90ec, aqua, #ff3299);
  }

  100% {
    background-image: linear-gradient(40deg, aqua, #ff3299, #be90ec);
  }
}

/* .home header::after {
  content: "";
  width: 100%;
  height: 50px;
  background-color: green;
  position: absolute;
  top: 20px;
} */

.home > header input {
  height: 50px;
  border-radius: 5px;
  margin: 20px 0;
  border: 0;
  padding: 0 0 0 20px;
  background-color: #f5f6fd;
}

.nav {
  width: 100%;
  margin: 10px 0;
}

.nav h1 {
  font-weight: 700;
  font-size: 20px;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 150px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  min-height: 300px;
}

.inner img {
  border-radius: 15px;
  width: 100%;
  margin: 10px 0;
}

.reload {
  padding: 10px 20px;
  background-color: #f5f6fd;
  margin: 10px 0;
  border: 0;
  border-radius: 5px 0 5px 0;
}
